In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
final_data = pd.read_csv('datasets/final_data.csv')
final_data.head()

,movieId,title,genres,userId,rating,rating_timestamp,tag,tag_timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47,Watched,2014-12-04 23:44:40
1,2,Jumanji (1995),Adventure|Children|Fantasy,1,3.5,2005-04-02 23:53:47,time travel,2014-03-10 17:42:00
2,3,Grumpier Old Men (1995),Comedy|Romance,2,4.0,2000-11-21 15:34:49,old people that is actually funny,2008-04-19 05:15:14
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,41,2.0,2000-02-27 23:29:58,chick flick,2011-06-20 08:36:17
4,5,Father of the Bride Part II (1995),Comedy,12,2.0,1997-03-22 20:49:34,Diane Keaton,2011-05-16 05:14:49

Univariate Data Analysis