In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
movie_data = pd.read_csv('C:/Users/piyus/Documents/Github Repos/Movie-Recommendation-System/datasets/movie.csv')
movie_data = pd.DataFrame(movie_data)
movie_data

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [26]:
tag_data = pd.read_csv('C:/Users/piyus/Documents/Github Repos/Movie-Recommendation-System/datasets/tag.csv')
tag_data = pd.DataFrame(tag_data)
tag_data

        userId  movieId            tag            timestamp
0           18     4141    Mark Waters  2009-04-24 18:19:40
1           65      208      dark hero  2013-05-10 01:41:18
2           65      353      dark hero  2013-05-10 01:41:19
3           65      521  noir thriller  2013-05-10 01:39:43
4           65      592      dark hero  2013-05-10 01:41:18
...        ...      ...            ...                  ...
465559  138446    55999        dragged  2013-01-23 23:29:32
465560  138446    55999  Jason Bateman  2013-01-23 23:29:38
465561  138446    55999         quirky  2013-01-23 23:29:38
465562  138446    55999            sad  2013-01-23 23:29:32
465563  138472      923  rise to power  2007-11-02 21:12:47

[465564 rows x 4 columns]

In [27]:
rating_data = pd.read_csv('C:/Users/piyus/Documents/Github Repos/Movie-Recommendation-System/datasets/rating.csv')
rating_data = pd.DataFrame(rating_data)
rating_data

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [28]:
movie_data.isna().sum()

movieId    0
title      0
genres     0
dtype: int64

In [29]:
tag_data.isna().sum()
tag_data.dropna(inplace=True)
tag_data.isna().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [30]:
rating_data.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [31]:
print(movie_data.shape)
print(tag_data.shape)
print(rating_data.shape)

(27278, 3)
(465548, 4)
(20000263, 4)

In [32]:
rating_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  object
dtypes: float64(1), int64(2), object(1)
memory usage: 610.4+ MB

In [33]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [34]:
tag_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 465548 entries, 0 to 465563
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     465548 non-null  int64
 1   movieId    465548 non-null  int64
 2   tag        465548 non-null  object
 3   timestamp  465548 non-null  object
dtypes: int64(2), object(2)
memory usage: 17.8+ MB

In [35]:
print("Duplicate movieId in movie_data:", movie_data['movieId'].duplicated().sum())
print("Duplicate movieId in tag_data:", tag_data['movieId'].duplicated().sum())
print("Duplicate movieId in rating_data:", rating_data['movieId'].duplicated().sum())

Duplicate movieId in movie_data: 0
Duplicate movieId in tag_data: 446003
Duplicate movieId in rating_data: 19973519

In [36]:
movie_data.drop_duplicates(subset='movieId', inplace=True)
tag_data.drop_duplicates(subset='movieId', inplace=True)
rating_data.drop_duplicates(subset='movieId', inplace=True)

In [37]:
print("Duplicate movieId in movie_data:", movie_data['movieId'].duplicated().sum())
print("Duplicate movieId in tag_data:", tag_data['movieId'].duplicated().sum())
print("Duplicate movieId in rating_data:", rating_data['movieId'].duplicated().sum())

Duplicate movieId in movie_data: 0
Duplicate movieId in tag_data: 0
Duplicate movieId in rating_data: 0

In [38]:
merged_data = pd.merge(movie_data, rating_data, on='movieId',how='inner')
merged_data.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47
1,2,Jumanji (1995),Adventure|Children|Fantasy,1,3.5,2005-04-02 23:53:47
2,3,Grumpier Old Men (1995),Comedy|Romance,2,4.0,2000-11-21 15:34:49
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,41,2.0,2000-02-27 23:29:58
4,5,Father of the Bride Part II (1995),Comedy,12,2.0,1997-03-22 20:49:34

In [39]:
final_data = pd.merge(merged_data,tag_data,on='movieId',how='left')
final_data.head()

,movieId,title,genres,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47,1644.0,Watched,2014-12-04 23:44:40
1,2,Jumanji (1995),Adventure|Children|Fantasy,1,3.5,2005-04-02 23:53:47,1629.0,time travel,2014-03-10 17:42:00
2,3,Grumpier Old Men (1995),Comedy|Romance,2,4.0,2000-11-21 15:34:49,2274.0,old people that is actually funny,2008-04-19 05:15:14
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,41,2.0,2000-02-27 23:29:58,9197.0,chick flick,2011-06-20 08:36:17
4,5,Father of the Bride Part II (1995),Comedy,12,2.0,1997-03-22 20:49:34,9197.0,Diane Keaton,2011-05-16 05:14:49

In [40]:
final_data.rename(
    columns={
        'userId_x': 'userId',
        'timestamp_x': 'rating_timestamp',
        'timestamp_y': 'tag_timestamp'
    },
    inplace=True
)

In [41]:
final_data.drop(columns=['userId_y'], inplace=True)

In [42]:
print(final_data.isna().sum())

movieId                0
title                  0
genres                 0
userId                 0
rating                 0
rating_timestamp       0
tag                 7733
tag_timestamp       7733
dtype: int64

In [43]:
final_data.dropna(inplace=True)

In [44]:
print(final_data.isna().sum())

movieId             0
title               0
genres              0
userId              0
rating              0
rating_timestamp    0
tag                 0
tag_timestamp       0
dtype: int64

In [45]:
final_data.head()

,movieId,title,genres,userId,rating,rating_timestamp,tag,tag_timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47,Watched,2014-12-04 23:44:40
1,2,Jumanji (1995),Adventure|Children|Fantasy,1,3.5,2005-04-02 23:53:47,time travel,2014-03-10 17:42:00
2,3,Grumpier Old Men (1995),Comedy|Romance,2,4.0,2000-11-21 15:34:49,old people that is actually funny,2008-04-19 05:15:14
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,41,2.0,2000-02-27 23:29:58,chick flick,2011-06-20 08:36:17
4,5,Father of the Bride Part II (1995),Comedy,12,2.0,1997-03-22 20:49:34,Diane Keaton,2011-05-16 05:14:49

In [46]:
final_data.to_csv('C:/Users/piyus/Documents/Github Repos/Movie-Recommendation-System/datasets/final_data.csv', index=False)

this is our final dataset ,
now we are going to perform exploratory data analysis and data visualization